# discord token
DISCORD_TOKEN='put-here-your-application-bot-token'

# comma separated privileged user roles
PRIVILEGED_USERS='admin,moderator,owner'

# Open Discord and navigate to the server you want to retrieve the ID for.
# Right-click on the server name in the left-hand sidebar and select "Server Settings" from the context menu.
# In the Server Settings page, select the "Widget" tab.
# Look for the "Server ID" field and copy the ID number that is displayed.
DISCORD_SERVER_ID='put-here-your-discord-server-id'